{:version      {:major 0
                :minor 0
                :patch 0}
 :version-type :semver3
 :changes      {:added      ["Initial commit"]
                :changed    []
                :deprecated []
                :removed    []
                :fixed      []
                :security   []}
 :timestamp    "2020-12-12T04:04:26.081401900Z"}
